body {
  overflow-x: hidden;
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../bg.jpg);
    background-size: auto;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.menu-container {
  position: relative;
  display: flex;
  align-items: center;
  background: mediumseagreen;
  color: #ffffff;
  padding: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

.menu-container a {
  text-decoration: none;
  color: #22224d;
  transition: color 0.3s ease;
}

.menu-container a:hover {
  color: #bffff4;
}
.menu ul {
  list-style: none;
}

.menu li {
  padding: 10px 0;
  font-size: 22px;
}
  .menu-container {
    width: 100%;
  }

  .menu-container a {
    color: #ffffff;
  }
  .menu {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .menu ul {
    display: flex;
    padding: 0;
  }

  .menu li {
    padding: 0 20px;
  }
  .userPanel{
    background-color: white;
    width: 30%;
    min-width: 300px;
    min-height: 20vh;
    margin-top: 0;
    flex-grow: 1;
  }
  .userPanel li{
    margin: 25px;
    text-align: center;
  }
  .userPanel li div,.p4, .p3{
    text-decoration: none;
    font-size: large;
    color: white;
    background-color: #007bff;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  .userPanel li div:hover, .p3:hover, .addComment button:hover{
    background-color: #005dc0;
    transition: 250ms ease-out;
  }
  .p4{
    background-color: #dc3545;
    margin-left: 20px;
  }
  .userPanel ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .flex{
    display: flex;
    flex-direction: row;
  }
  .grid{
    display: grid;
    place-items: center;
  }
  .secondPanel{
    background-color: rgb(211, 211, 211);
    min-height: 100vh;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    width: 80%;
    flex-grow: 1;
  }
  .secondPanel div{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .p2{
    margin-left: 15px;
    padding: 15px;
    min-width: 150px;
    color: white;
    text-align: center;
    background-color: #17a2b8;
    border-radius: 5px;
    font-size: large;
  }
  .p3 {
    margin-left: 15px;  
    padding: 15px;
  }
  .user{
    color: white;
    background-color: #dc3545;
    width: 200px;
    padding: 15px;
    margin-left: 20px;
    border-radius: 5px;
    font-size: large;
    cursor: pointer;

  }
  .user:hover, .p4:hover{
    background-color: #a90b1b;
    transition: 250ms ease-out;
  }
  .addComment{
    min-height: 10vh;
    flex-direction: row;
    padding-left: 20%;
  }
  .addComment input{
    width: 400px;
    height: 30px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

  }
  .addComment button{
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    padding: 10px;
    height: 50px;
    font-size: large;
    margin-top: 20px;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .showComments{
    background-color: rgb(226, 226, 226);
    flex-direction: column;
  }
  .showComments div{
    width: 100%;
  }
  .showComments a{
    margin: 30px;
    margin-left: 0;
  }
  .showComments b{
    margin: 30px;
    margin-right: 5px;
    margin-left: 0;
  }
  .showComments p{
    padding: 15px;
    padding-left: 40px;
    margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
    width: 100%;
    border-radius: 10px;
  }
  .showComments img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    padding: 15px;
    padding-right: 10px;
  }
  .adminPanelwButton div{
    width: 100%;
  }
  
  .d-none{
    display: none !important;
  }
  .hoverElement{
    color: red;
    font-weight: 500;
    cursor: pointer;
    position: absolute;
    right: 0px;
  }
  
  @media only screen and (max-width: 800px) {
    .userPanel{
      width: 100%;
    }
    .secondPanel{
      width: 100%;
    }
    .flex{
      display: flex;
      flex-direction: column;
    }
  }
  